.search input {
    min-width: 150px;
    padding: 7px 10px;
    border-radius: 5px;
    border: none;  
    transition: 0.3s ease;
 }
 
.search input:focus {
     min-width: 200px;
 }
.search button {
     font-size: medium;
     margin-left: 5px;
     padding: 3px 6px;
     border-radius: 5px;
     cursor: pointer;
 }