.air-quality-info .progress {
    /* background: linear-gradient(90deg, rgba(56,217,36,0.9612438725490196) 0%, rgba(27,38,227,1) 34%, rgba(194,21,192,1) 73%, rgba(224,65,29,1) 98%); */
    /* background: #eee; */
    background: linear-gradient(to right, #1e9600, #fff200, #ff0000);
    height: 8px;
    width: 80%;
    margin: 5px 0;
 
}

.air-quality-info .progress .progress-bar {
    /* background: linear-gradient(to right, #24c6dc, #514a9d); */

    background-color: transparent;
    font-weight: 800;
}

.air-quality-info .progress .progress-bar::before {
    /* content: "";
    width: 15px;
    height: 15px;
    background-color: black;
    border-radius: 50%;
    position: absolute; */

}


.air-quality-info {
    box-shadow: 2px 2px 5px 4px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    margin-top: 10px;
    padding: 5px;
}


.air-quality-info label {
    display: flex;
    font-size: 12px;
    margin-right: 10px;
}

.air-quality-info-index,
.air-quality-info-title {
    display: flex;
    align-items: center;
}

.air-quality-info-title label {
    /* font-size: 1.25rem; */
    /* font-weight: 500; */
    margin-right: 5px;

}
.air-quality-info-title h4 {
    font-size: 1.1rem;
    margin-bottom: 0;
   
}



.pollutants {
    font-size: 10px;
    display: flex;
    flex-direction: column;
}

.pollutants-group {
    display: flex;
    justify-content: space-around;
}

.pollutants-group div {
    display: flex;
}

.pollutants-group div p {   
    margin: 3px;   
    color: grey;
    font-weight: 600;
}


